.listsContainer {
    color: white;
    padding-left: 5px;
    margin-top: 5px;
}

ul {
    list-style: none;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    color: #0D0D0D;
    background-color: #F2C84B;
    margin-top: 5px;
    padding-left: 15px;
    border-radius: 5px;
}

.listItem span{
    width: 180px;
    overflow: hidden;
}
.btns {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btns svg {
    fill: #0D0D0D;
    width: 25px;
    height: 25px;
}
.deleteIcon:hover{
    fill: red;
    cursor: pointer;
}
.completeIcone:hover {
    fill: rgb(14, 108, 14);
    cursor: pointer;    
}
.completedTask{
    color: rgb(14, 108, 14);
    text-decoration: line-through ;
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.listItem.remove {
    animation: fadeOut 0.3s ease;
}

